@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    font-family: 'Hind', sans-serif;
    overflow: hidden;
}
body{
    text-align: center;
    color: white;
    margin: 0;
}
.favicon{
    max-height: 60px; 
    vertical-align: middle;
    margin-right: 10px;
}
h1{
    font-size: 55px;
    font-family: 'Caveat', cursive;
}
.container {
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: url('Assets/Media/anime-clouds.avif');
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.background {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 2em 3em;
    width: 35%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    filter: brightness(0.98);
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
}
.textShadow{
    text-shadow: 0px 0px 4px black;
}
/* Weather Conditions */
.ash{background-image:url('Assets/Media/ash.webp');}
.clear{background-image:url('Assets/Media/clear.gif');}
.clouds{background-image:url('Assets/Media/clouds.gif');}
.drizzle{background-image:url('Assets/Media/drizzle.gif');}
.fog{background-image:url('Assets/Media/fog.webp');}
.mist{background-image:url('Assets/Media/mist.webp');}
.rain{background-image:url('Assets/Media/rainy.webp');}
.sand{background-image:url('Assets/Media/sand.jpg');}
.smoke{background-image:url('Assets/Media/smoke.webp');}
.snow{background-image:url('Assets/Media/snow.webp');}
.squall{background-image:url('Assets/Media/squall.jpg');}
.thunderstorm{background-image:url('Assets/Media/thunderstorm.webp');}
.tornado{background-image:url('Assets/Media/tornado.webp');}

.searchSection{
    margin: 1.5em;
    text-wrap: pretty;
}
.weather{
    transition: 0.4s all ease-in-out;
    padding: 1em;
    display: none;
}
#weatherStatus{
    font-size: 29px;
    margin-bottom: -0.1em;
}
#errorText{
    margin: 0 auto;
}
#error{
    text-align: center;
}
#error404{
    margin: 0 auto;
    display: none;
    max-height: 240px;
    position: relative;
}
input{
    width: 94%;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
    padding: 0.4em;
}
button{
    background-color: transparent;
    color: white;
    cursor: pointer;
    width: 98%;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 18px;
    padding: 0.4em;

    &:hover{
        background-color: rgba(255, 255, 255, 0.3);
        color: rgba(0, 0, 0, 0.7);
    }
}
#noSelected {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s ease;
    font-size: 18px;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.flag{
    opacity: 0;
}
.hide{
    animation: fadeIn 1.2s;display: none;
}
.fadeIn{
    animation: fadeIn 1s ease-in-out both;
}
.show{
    display: block;
}
.flex {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 0.8em;
    cursor: pointer;
}
nav{
    transition: none;
}
#myLocation{
    transition: none;
    padding: 0;
    border: 0;
    width: auto;
    height: 40px;
    position: absolute;
    margin: 2.5em;
    top: -9px;
    left: 0;
    font-weight: bold;
}

#myLocation:hover{
    background-color: transparent;
    color: white;
}

#myLocation img{
    vertical-align: middle;
    width: 35px;
    height: 35px;
}
.githubProfile{
    transition: none;
    position: absolute;
    margin: 2.5em;
    right: 0;
}
@keyframes tooltipTransition {
    0%{
        visibility: hidden;
        opacity: 0;
    }100%{
        visibility: visible;
        opacity: 1;
    }
}
@keyframes tooltipOut {
    0%{
        visibility: visible;
        opacity: 1;
    }100%{
        visibility: hidden;
        opacity: 0;
    }
}
.tooltip {
    position: absolute;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    font-size: 14px;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.6em;
    margin: 1em;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
}
.arrow {
    z-index: 3;
    position: absolute;
    width: 0;
    height: 0;
    transition: all 0.2s ease-in-out;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
}

#arrow1 { margin: 2.9em 16em 0 0; }
#arrow2 { margin: 2.9em 0 0 0.6em; }
#arrow3 { margin: 2.9em 0 0 18em; }
#tooltip1 { margin: 7em 19em 0 0; }
#tooltip2 { margin: 7em 17.5em 0 17.6em; }
#tooltip3 { margin: 7em 0 0 19.8em; }

.tooltipTransition{
    animation: tooltipTransition 0.3s ease-in-out both;
}
.tooltipOut{
    animation: tooltipOut 0.3s ease-in-out;
}
/* Responsive Styles */
@media (max-width: 800px) {
    #temp,#humidity,#wind{text-wrap: wrap;}
    h1{
        font-size: 44px;
    }
    .favicon{
        max-height: 40px; 
        vertical-align: middle;
        margin-right: 10px;
    }
    #error404{
        max-height: 200px;
    }
    .container{
        margin-top: -2em;
        background-size: 1600px;
    }
    .background{
        width: 85%;
        padding: 0.2em 0em;
    }
    
    .item{
        padding-top: 20px;
        width: 33%;
        margin: -1.6em 0.8em;
        text-align: center;
    }
    .item img{
        display: block;
        margin: 8px auto;
    }
    .item h2{
        font-size: 18px;
        padding-bottom: 12px;
    }
    .githubProfile{
        scale: 0.9;
    }
}